<div class="container">
<form  method="post" action="http://localhost:3000/adduser">
  <fieldset>
    <legend>Add Employee</legend>
     <div class="form-group row">
      <label for="staticEmail" class="col-sm-2 col-form-label">Name</label>
      <div class="col-sm-10">
        <input type="text"   name="name" class="form-control" id="staticEmail" >
      </div>
    </div>
    <br>
     <div class="form-group row">
      <label for="staticEmail" class="col-sm-2 col-form-label">Phone</label>
      <div class="col-sm-10">
        <input type="text"   name="phone" class="form-control" id="staticEmail" >
      </div>
    </div>
    <br>
     <div class="form-group row">
      <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input type="text"  name="email"  class="form-control" id="staticEmail" >
      </div>
    </div>
    <br>
    <div class="form-group row">
      <label for="staticEmail" class="col-sm-2 col-form-label">City</label>
      <div class="col-sm-10">
        <input type="text"  name="city" class="form-control" id="staticEmail" >
      </div>
    </div> 
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
  </fieldset>
  <br>
  <a href="http://localhost:3000/showuser" class="btn btn-block btn-lg btn-success">SHOW ALL EMPLOYEE</a>
</form>
</div>

